<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <section class="main-container">
        
        <div class="getting-latitude-form">
            <div class="brand-container">
                <img src="Images/weather.png" alt="Cloud picture" class="brand-logo">
                <h1>Weather Check</h1>
            </div>
            <h1 class="instruction">Please input the coordinates of your preffered location.</h1>
            <form action="/submit" method= "POST">
                <label for="latitude">Latitude</label>
                <input type="text" name="latitude" required>
                <label for="longitude">Longitude</label>
                <input type="text" name="longitude" required>
                <input type="submit">
            </form>
        </div>
    </section>    
</body>
</html>